.section__content--about {
    background: $bckg-shade;
}

.paragraph--about {
    padding-right: 18%;
}


// RESPONSIVE - MEDIA QUERIES -------------------------------------------

@media (max-width: 768px) {
    .paragraph--about{
        padding: 0;
    }
}