.section__content--blog {
    background: #fff;
}

.section {
    display: flex;
    flex-direction: column;
}

.btn__blog {
    align-self: flex-start;
}

.blog__container--description, .blog__container--image{
    flex: 1 50%;
}

.blog__content--left, .blog__container--image{
    flex: 1 50%;
}

.blog__image {
    display: block;
    width: 100%;
    max-width: 500px;    
}



.blog__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.section__blog {
    width: 100%;
}

.blog__content {
    width: 50%;
}

.blog__content:nth-of-type(even) {
    padding-right: 10%;
}

.blog__container--image {
    max-height: 320px;
}

.blog__image--left {
    background: $accent-secondary-color;
    position: relative;
    top: -15px;
    padding-left: 10%;
    .blog__image {
        position: relative;
        width: 100%;
        bottom: 15px;
        right: 5px;
    }
}

.blog__image--right {
    background: $theme-color;
    position: relative;
    top: 30px;
    .blog__image {
        position: relative;
        bottom: 15px;
        right: 15px;

    }
}

.blog__container--description {
    padding: 10px 45px 40px 0;
}

.blog--top {
    padding: 40px 10% 0 50px;
}
.blog--bottom {
    text-align: right;
}

.paragraph__blog--right {
    padding-left: 20%;
}


// RESPONSIVE - MEDIA QUERIES -------------------------------------------


@media (max-width: 768px) {
    .section__blog {
        padding-bottom: 100px;
    }
    .blog__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog__content {
        width: 80%;
    }
    .blog--bottom {
        text-align: inherit;
        order: 3;
        padding: 0;
        .paragraph {
            padding: 0;
        }
    }
    .blog--top {
        padding: 0;
        margin-bottom: 50px;
    }
    .blog__image--right {
        left: 0;
        top: 0;
        margin-bottom: 25px;
        img.blog__image {
            margin: 0 auto;
            right: 0;
        }
    }
    .blog__image--left {
        padding: 0;
        .blog__image {
            margin: 0 auto;
            right: 0;
        }
    }
    .blog__content:nth-of-type(even) {
        &:nth-of-type(even) {
            padding-right: 0;
        }
    }
    
}