.contact__main {
    display: flex;
    // flex-wrap: wrap;
}


.contact {
    width: 55%;   
}

.contact-form {
    border: 2px solid tomato;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.aside {
    border: 2px solid tomato;
    width: 25%;
}

.container__aside {
    display: flex;
}

