.container__footer {
    background: $text-color;
    &--text {
        display: flex;
        justify-content: center;
        @include copyright;
        padding: 10px 0;
    }
}

// RESPONSIVE - MEDIA QUERIES -------------------------------------------

.container__footer {
    &--text {
        font-size: 1.6rem;
    }
}