.gallery {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    &__item {
        width: calc(33.33% - (30px/3));
        margin-right: 30px;
        &__img {
            display: block;
            width: 100%;  
        }
        &:last-of-type{
            margin-right: 0;
        }
    }
}

// RESPONSIVE - MEDIA QUERIES -------------------------------------------

@media (max-width: 768px){
    .section__content--gallery{
        padding: 0;
        .wrapper{
            width: 100%;
        }
    }
    .container__gallery {
        padding-bottom: 100px;
    }
    .gallery__item{
        width: 33.33%;
        margin-right: 0;
    }
}

