.gallery {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    &__item {
        width: calc(33.33% - (30px/3);
        margin-right: 30px;
        &__img {
            display: block;
            width: 100%;  
        }
        &:last-of-type{
            margin-right: 0;
        }
    }
}



