
// screen width: 1280px

html {
    font-size: 62.5%;
}

.wrapper {
    // max-width: 1024px;
    max-width: 1280px;
    width: 80%;
    border: 2px solid tomato;
    margin: 0 auto;
}




.section__heading {
    @include heading-font(4.2rem);
    margin: 0;
}

.section__heading--sub-heading {
    @include heading-font(3.2rem);
    margin: 0;
}

.paragraph {
    @include body-font;
    margin: 15px 0 25px 0;
}

.button {
    @include btn-links-font;
    text-decoration: none;
    padding: 10px 20px;
    background: $accent-primary-color;
    display: inline-block;
}

.section {
    padding: 100px 0;
}