// HEADER STYLING --- index

.header--home {
    height: 80vh;
    max-height: 600px;
    background: $theme-color;
}

// .nav__item {
//     list-style: none;
//     &__link {
//         text-decoration: none;
//         @include nav-font;
//         padding: 10px 10px;
//         margin: 0 10px;
//         // border: 2px solid tomato;
//         &--logo {
//             @include logo-font(3rem);
//         }
//     }
// }

// .nav__item__link:hover {
//     color: $bckg-shade;
// }

// .nav__links {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 0;
//     padding: 15px 0;
// }


.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 1;
    padding-top:30px;
    // margin-top: 30px;
}

.container__heading {
    position: relative;
    margin: 0 0 95px 35px;
}

// font size supposed to be 8rem ---ratio not accurate
.header__title--logo {
    @include logo-font(8rem);
    margin: 0;
}

.header__title--image {
    width: 100%;
    max-width: 150px;
    position: absolute;
    top:-30px;
    right:0;
    bottom:0;
    left:-45px;
}

.header__image {
    margin-left: 10%;
    &--author {
        position: relative;
        width: 100%;
        max-width: 410px;
        display: block;
        box-shadow: 15px 15px 0px 1px rgba(255,255,255,1);
    }
}

// CONTACT PAGE STYLING--------------------------------------

.title--contact {
    @include logo-font(8rem);
    margin: 0;
    position: relative;
    top: 45px;
}

.contact--image {
    background: url(../assets/contact-image-1.jpg);
	min-height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


// CONTACT PAGE STYLING--------------------------------------

.title--blog {
    @include logo-font(8rem);
    margin: 0;
    position: relative;
    top: 45px;
}

.blog--bckg-image {
    background: url(../assets/blog-image-1.jpg);
	min-height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}