// HEADER STYLING --- index

.header {
    height: 90vh;
}

.nav__item {
    list-style: none;
    &__link {
        text-decoration: none;
        @include nav-font;
        padding: 10px 10px;
        margin: 0 10px;
        // border: 2px solid tomato;
        &--logo {
            @include logo-font(3rem);
        }
    }
}

.nav__item__link:hover {
    color: $bckg-shade;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container__heading {
    position: relative;
    margin: 0 0 95px 35px;
}

// font size supposed to be 8rem ---ratio not accurate
.header__title--logo {
    @include logo-font(11.5rem);
    margin: 0;
}

.header__title--image {
    width: 100%;
    max-width: 150px;
    position: absolute;
    top:-30px;
    right:0;
    bottom:0;
    left:-45px;
}

.header__image {
    margin-left: 110px;
    &--author {
        // position: relative;
        // bottom: -50px;
        width: 100%;
        max-width: 420px;
        display: block;
        box-shadow: 15px 15px 0px 1px rgba(255,255,255,1);
    }
}

