.nav {
    background: $theme-color;
}

.nav__item {
    list-style: none;
    &__link {
        text-decoration: none;
        @include nav-font;
        padding: 10px 10px;
        margin: 0 10px;
        // border: 2px solid tomato;
        &--logo {
            @include logo-font(3rem);
        }
    }
}

.nav__link--active {
    color: $bckg-shade;
    text-shadow: 2px 2px 4px  rgba(44, 44, 44, 1);
}

.nav__item__link:hover {
    transition: 0.5s;
    color: $bckg-shade;
    text-shadow: 2px 2px 4px  rgba(44, 44, 44, 1);
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 15px 0;
}

.nav__mobile {
    display: none;
    background-color: $theme-color;
    padding: 10px 0;
    &--container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &--link {
        text-decoration: none;
        &:hover{
            color: #fff;
        }
    }
    &--hamburger {
        @include nav-font;
        &:hover{
            color: #fff;
        }
    }
}

// RESPONSIVE - MEDIA QUERIES -------------------------------------------

@media (max-width: 768px) {
    .nav {
        display: none;
    }
    .nav__mobile {
        display: block;
    }
}