// COLOR PALETTE --------------------------------------
$theme-color: #f6a823;
// rgb(246, 168, 35);
$accent-primary-color: #05afc1;
// rgb(5, 175, 193);
$accent-secondary-color: #a82706;
// rgb(168, 39, 6);
$bckg-shade: #F0EFED;
// rgb(240, 239, 237)
$accent-text-color: #285e64;
// rgb (40, 94, 100);
$text-color: #2c2c2c;
// rgb (44, 44, 44);
$form-text-color: #4f4f4f;
// rgb(79, 79, 79);

// TYPOGRAPHY STYLES ----------------------------------

// font-family: 'Lora', serif; 700
// font-family: 'Roboto', sans-serif; 400, 400i, 700 

// logo-fonts 80px | logo-nav-font (?)
@mixin logo-font($size){
    font-family: 'Lora', serif;
    color: $text-color;
    font-size: ($size);
    text-transform: uppercase;
    // line-height: 9.2rem;
}

// sizes: 4.2rem, 3.2rem, 2.4rem
@mixin heading-font($size){
    font-family: 'Roboto', sans-serif;
    font-size: ($size);
    font-weight: 700;
    letter-spacing: 1px;
    color: $text-color;
    text-transform: uppercase;
}

@mixin nav-font{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 29px;
    color: $text-color;
    text-transform: uppercase;
}

// font-size: 2rem | line-height: 32px
@mixin btn-links-font {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    color: $text-color;
    text-transform: uppercase;
}

// line-height (32px)
@mixin body-font {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    // font-size: 2rem;
    line-height: 30px;
    font-weight: 400;
    color: $text-color;
}

@mixin accent-font {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 32px;
    font-weight: 500i;
    color: $accent-text-color;
}

@mixin copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
    color: $bckg-shade;
}




